flask==2.3.3
flask-limiter==3.5.0
flask-cors==4.0.0
requests==2.31.0
python-dotenv==1.0.0
waitress==3.0.2
mistral_common==1.5.3
limits[memcached]==4.0.1
coloredlogs==15.0.1
printedcolors==1.0.0
pymemcache==4.0.0
docx2txt==0.8
python-docx==1.0.1
python-dateutil==2.8.2
tiktoken>=0.7.0
duckduckgo-search==5.3.1
